@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #ededef;
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
}
  
.card {
    flex: 1;
    border: 1px solid #8c96c0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(66, 88, 185, 0.1);
    margin: 0 10px;
}
  
.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #8c96c0;
    padding: 10px;
}
  
.card-body {
    padding: 10px;
}
  
.card-text {
    color: #333;
}






.footer {
    padding: 10px 20px;
    color: #4a5f76;
    /* bottom: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    text-align: center; */
}