@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #ededef;
    margin: 0;
}







.footer {
    padding: 10px 20px;
    color: #4a5f76;
    /* bottom: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    text-align: center; */
}